<nav class="navbar navbar-expand-lg navbar-light bg-light header-fix">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img [src]="imagePath" alt="logo">
      </a>    
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"  
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">{{pageArr[0]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{pageArr[1]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> {{pageArr[2]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{pageArr[3]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{pageArr[4]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{pageArr[5]}}</a>
          </li>
        </ul>
      </div>
      <div>
        <a href="#" class="btn btn-primary">{{button}}</a>
      </div>
    </div>
</nav>