<div>
    <div class="container main-header-section">
        <h3>Why Choose Tagline Infotech ?</h3>
        <span class="main-header-line"></span>
        <p class="header-details">We have a team of developers who use their expertise to provide complete web development, mobile app development, testing & assurance, SaaS development, and designing services. Tagline Infotech has a team of developers that you can hire by mentioning the requirements for your project. Save time and money by hiring our developers for your startup or large-scale company. Our team of developers has the experience to understand the business ideas of the clients to provide solutions that focus on the core values of the business. Here you will find some benefits of hiring developers from us.</p>
    </div>
    <div class="container">
        <div class="row mb-4">
            <div class="col-4">
                <div class="choose-div">
                    <img src="assets/image/choose1.png" alt="choose1" >
                    <span class="choose-count">01</span>
                    <h6>Progressive Roadmap</h6>
                    <p>Our team of developers creates a progressive roadmap that includes a strategic plan to define a goal reach that . We have a team of developers that uses progressive roadmap tools like Jira, Trello, and GitHub to update the roadmap within minutes.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="choose-div">
                    <img src="assets/image/choose2.png" alt="choose2" >
                    <span class="choose-count">02</span>
                    <h6>Efficient Project Management</h6>
                    <p>We believe in efficient project management and our experienced developers use project management tools like Wrike and Zoho. Our developers use these project management tools efficiently to plan a project and deliver it on time.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="choose-div">
                    <img src="assets/image/choose3.svg" alt="choose3" >
                    <span class="choose-count">03</span>
                    <h6>Flexible Engagement Model</h6>
                    <p>We provide flexible engagement models so that clients can hire developers for their projects. These engagement models are flexible so if you aren’t satisfied with any model you can switch to another.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="choose-div">
                    <img src="assets/image/choose4.png" alt="choose4" >
                    <span class="choose-count">04</span>
                    <h6>Cost-Effective</h6>
                    <p>Our team of developers provides the best development services at affordable prices. We believe that high-quality solutions can be delivered at cost-effective prices and that’s why we provide different hiring models.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="choose-div">
                    <img src="assets/image/choose5.png" alt="choose5" >
                    <span class="choose-count">05</span>
                    <h6>Consistent Delivery</h6>
                    <p>Our developers follow an agile approach to deliver the project before the deadline. We are providing consistent delivery of fully-featured projects as per the client’s requirements.    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="choose-div text-center">
                    <div class="d-flex">
                        <img src="assets/image/choose6.svg" alt="choose6">
                        <h4> <span>Empower </span>Your <span> Business </span>with Dedicated Developers</h4>
                    </div>
                    <a href="#" class="btn">Talk to Our Experts</a>
                </div>
            </div>
        </div>
    </div>
</div>