<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="main-header-section">
                    <h3>Words From Our Clientele</h3>
                    <span class="main-header-line mb-4"></span>
                    <p class="clutch-details">Good things come for those who work hard, and that's why our clientele appreciate our efforts. Tagline Infotech provides the best services to its clients, and it is reflected through our ratings and reviews on various platforms.</p>
                    <p class="clutch-details">We are a well-known IT services company on Clutch. Check out what our customers have to say about our services. Read their ratings, feedback, and stories about partnering with us before making your own decision.</p>
                </div>
            </div>
            <div class="col-8 bg-light">
                <div class="company">
                    <a class="company-name">Tagline Infotech LLP Reviews</a>
                    <div class="rating">
                        <span>4.9</span>
                        <div class="fivestar">
                                
                            <img src="assets/image/star.svg" alt="star">
                        </div>
                        <span><a href="#">31 reviews</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
