<div>
    <div class="container main-header-section">
        <h3>{{title}}</h3>
        <span class="main-header-line"></span>
    </div>
</div>
<div>
    <div class="container d-block">
        <div class="row d-flex flex-row">
            <div class="card col-4 justify-content-center p-4">
                <h2>Find the <br><span class="font-weight-bolder">right offers</span> <br>for you.</h2>
            </div>
            <div class=" col-4 p-4 card" *ngFor="let service of serviceArr">
                <div class="d-flex align-items-center">
                    <img class="service-icon" src="{{service.iconUrl}}" alt="Card image cap">
                    <h4>{{service.h4}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{service.p}}</p>
                    <a href="#">{{button}}</a>
                </div>
            </div>
            <div class="card col p-4 service-card">
                <h6>Don't know what to choose? <span>Drop us a line.</span></h6>
                <img src="assets/image/service.webp" alt="service" >
                <a href="#" class="btn">Contact us</a>
            </div>
        </div>
    </div>
</div>