<div>
    <div class="container main-header-section">
        <h3>{{title}}</h3>
        <span class="main-header-line"></span>
    </div>
</div>
<div>
    <div class="container d-block">
        <div class="row d-flex">
            <div class="card col justify-content-center p-4">
                <h2>Find the <br><span class="font-weight-bolder">right offers</span> <br>for you.</h2>
            </div>
            <div class="card col p-4">
                <div class="d-flex align-items-center">
                    <img class="service-icon" src="{{serviceArr[1].iconUrl}}" alt="Card image cap">
                    <h4>{{serviceArr[0].h4}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{serviceArr[0].p}}</p>
                    <a href="#">{{button}}</a>
                </div>
            </div>
            <div class="col card p-4">
                <div class="d-flex align-items-center">
                    <img class="service-icon" src="{{serviceArr[1].iconUrl}}" alt="Card image cap">
                    <h4>{{serviceArr[1].h4}}</h4>
                </div>
                <div class="card-body ">
                    <p class="card-text">{{serviceArr[1].p}}</p>
                    <a href="#">{{button}}</a>
                </div>   
            </div>
        </div>
        <div class="row d-flex">
            <div class="card col p-4">
                <div class="d-flex align-items-center">
                    <img class="service-icon" src="{{serviceArr[2].iconUrl}}" alt="Card image cap">
                    <h4>{{serviceArr[2].h4}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{serviceArr[2].p}}</p>
                    <a href="#">{{button}}</a>
                </div>
            </div>
            <div class="card  col p-4">
                <div class="d-flex align-items-center">
                    <img class="service-icon" src="{{serviceArr[3].iconUrl}}" alt="Card image cap">
                    <h4>{{serviceArr[3].h4}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{serviceArr[3].p}}</p>
                    <a href="#">{{button}}</a>
                </div>
            </div>
            <div class="card col p-4 service-card">
                <h6>Don't know what to choose? <span>Drop us a line.</span></h6>
                <img src="assets/image/service.webp" alt="service" >
                <a href="#" class="btn">Contact us</a>
            </div>
        </div>
    </div>
</div>