<section class="exp-section">
    <div class="container">
        <div class="row align-items-center d-flex">
            <div class="col-6 text-light">
                <h4>We have the experience</h4>
                <p class="exp-detail">We have got the experience to make your dream come true, and these stats speak for themselves: we have 350+ clients worldwide in only five years, and we have worked on over 650+ projects, all of which have been finished successfully and on schedule, with 100% client satisfaction. We also have 250K+ hours of freelancing experience.</p>
                <a href="#" class="btn">Contact us</a>
            </div>
            <div class="contact-woman row-width">
                <img src="assets/image/woman.webp" alt="woman">
            </div>
            <div class="col-6">
                <ul class="d-flex flex-wrap justify-content-center">
                    <li>
                        <div class="text-center">
                            <img src="assets/image/experience1.webp" alt="experience1">
                            <p class="exp-section-text">150+</p>
                            <p class="secound-p">Professional</p>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="assets/image/experiance2.webp" alt="experiance2">
                            <p class="exp-section-text">650+</p>
                            <p class="secound-p">Completed Projects</p>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="assets/image/experiance3.webp" alt="experiance3">
                            <p class="exp-section-text">250+</p>
                            <p class="secound-p">Freelance Hours</p>
                        </div>
                    </li>
                    <li>
                        <div class="text-center">
                            <img src="assets/image/experiance4.webp" alt="experiance4">
                            <p class="exp-section-text">50+</p>
                            <p class="secound-p">Years of experience</p>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
