<section class="exp-section">
    <div class="container">
        <div class="row align-items-center d-flex">
            <div class="col-6 text-light">
                <h4>{{title}}</h4>
                <p class="exp-detail">{{title_detail}}</p>
                <a href="#" class="btn">Contact us</a>
            </div>
            <div class="contact-woman row-width">
                <img src="assets/image/woman.webp" alt="woman">
            </div>
            <div class="col-6">
                <ul class="d-flex flex-wrap justify-content-center" *ngFor="let exp of expArr">
                    <li>
                        <div class="text-center">
                            <img [src]="exp.imgPath" alt="experience1">
                            <p class="exp-section-text">{{exp.detail}}</p>
                            <p class="secound-p">{{exp.p}}</p>
                        </div>
                    </li>
                </ul>
            </div>           
        </div>
    </div>
</section>
