<div>
    <div class="container main-header-section">
        <h3 >Our Dedicated Developers</h3>
        <span class="main-header-line"></span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left-section col-7">
                <div class="row">
                    <div class="developer-box col me-1">
                        <h6>Hire Mobile App Developers</h6>
                        <div class="icons">
                            <div class="icon-row">
                                <img src="assets/image/react_native_color.svg" alt="react_native_color">
                                <a href="#" class="d-flex">
                                    <p>Hire React Native  <br> Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="assets/image/flutter_color.svg" alt="flutter_color">
                                <a href="#" class="d-flex">
                                    <p>Hire Flutter Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="developer-box col ms-1">
                        <h6>Hire Front-End Developers</h6>
                        <div class="icons">
                            <div class="icon-row">
                                <img src="assets/image/angular_color.svg" alt="angular_color">
                                <a href="#" class="d-flex">
                                    <p>Hire AngularJs <br> Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="assets/image/react_native_color.svg" alt="react_native_color">
                                <a href="#" class="d-flex">
                                    <p>Hire ReactJs <br> Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="developer-box mt-2">
                        <h6>Hire Back-End Developers</h6>
                        <div class="icons">
                            <div class="icon-row">
                                <img src="assets/image/paython_color.svg" alt="python_color">
                                <a href="#" class="d-flex">
                                    <p>Hire Python <br> Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="assets/image/ruby_color.svg" alt="ruby_color">
                                <a href="#" class="d-flex">
                                    <p>Hire ROR Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="assets/image/node_js_color.svg" alt="nodejs_color">
                                <a href="#" class="d-flex">
                                    <p>Hire Node.js <br> Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-section col-4">
                <div class="right-developer">
                    <img src="assets/image/right-deveoper-bg.webp" alt="developer-bg" class="hire-developer-bg">
                    <div class="right-developer-content">
                        <h6>Hire Dedicated Developers for your dream project</h6>
                        <a href="#" class="btn">Hire Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

