<div>
    <div class="container main-header-section">
        <h3 >Our Dedicated Developers</h3>
        <span class="main-header-line"></span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="left-section col-7">
                <div class="row">
                    <div class="developer-box mb-2" [ngClass]="developer.class" *ngFor="let developer of developers">
                        <h6>{{developer.h6}}</h6>
                        <div class="icons"  [ngClass]="dev.className" *ngFor="let dev of developer.details">
                            <div class="icon-row">
                                <img [src]="dev.imgPath" alt="react_native_color">
                                <a href="#" class="d-flex">
                                    <p>{{dev.p}}
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                        </div>
                    <!-- </div>  
                    <div class="developer-box col ms-1"> -->
                        <!-- <h6></h6> -->
                        <!-- <div class="icons">
                            <div class="icon-row">
                                <img src="" alt="angular_color">
                                <a href="#" class="d-flex">
                                    <p>
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="assets/image/react_native_color.svg" alt="react_native_color">
                                <a href="#" class="d-flex">
                                    
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                        </div> -->
                    <!-- </div> -->
                    <!-- </div>
                <div class="row">
                    <div class="developer-box mt-2"> -->
                        <!-- <h6></h6> -->
                        <!-- <div class="icons">
                            <div class="icon-row">
                                <img src="" alt="python_color">
                                <a href="#" class="d-flex">
                                    <p>
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="" alt="ruby_color">
                                <a href="#" class="d-flex">
                                    <p>Hire ROR Developers
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                            <div class="icon-row">
                                <img src="" alt="nodejs_color">
                                <a href="#" class="d-flex">
                                    <p>
                                    <img src="assets/image/up-arrow.svg" alt="upArrow"></p>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="right-section col-4">
                <div class="right-developer">
                    <img src="assets/image/right-deveoper-bg.webp" alt="developer-bg" class="hire-developer-bg">
                    <div class="right-developer-content">
                        <h6>Hire Dedicated Developers for your dream project</h6>
                        <a href="#" class="btn">Hire Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

