<div>
    <div class="container main-header-section">
        <h3 >{{title}}</h3>
        <span class="main-header-line"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="main-box" [ngClass]="case.className" *ngFor="let case of caseArr">
                <img [src]="case.src" alt="white-logo1" class="main-logo">
                <p>{{case.p}}</p>
                <img [src]="case.imgPath" alt="wrapper1" class="bg-wrapper">
            </div>
        </div>
    </div>
</div>
