/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import "variables";
// :root{
//     --primary : #FFFF00	!important
// }
    
// body{
//     font-family: poppins;
// }

// .bg-light{
//     box-shadow: 0.5px 0.5px 5px gray;
// }

.main-header-section{
    font-weight: 900 !important;
    text-align: center;
    margin: 65px auto 45px auto;
}

.main-header-line{
    display: inline-block;
    width: 175px;
    height: 2px;
    background: radial-gradient(50% 151250% at 50% -100%,#d96122 0%,rgba(255,255,255,0) 100%);
}

.btn{
    background-color: #d85b1a;
    color: #fff;    
    padding: 14px 26px;
}